@mixin text-padding-mobile {
  padding-left: 15.6%;
  padding-right: 14.8%;
}

@mixin text-padding-tablet {
  padding-right: 9.7%;
  padding-left: 9.7%;
}

.about-service {
  z-index: 10;

  margin: 0;
  margin-bottom: -25px;
  padding-top: 31px;
  padding-bottom: 83px;

  @include text-padding-mobile();

  color: #ffffff;
  background: url("../img/about-mobile@1x.png") no-repeat 60% 0, #192144;
  border-radius: 0 0 30px 30px;

  @media (min-resolution: 1.5dppx) {
    background: url("../img/about-mobile@2x.png") no-repeat 93% 45px,
      #192144;
    background-size: contain;
  }
}

.about-service__header {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: bold;
  line-height: 1;

  color: #ff8d30;
}

.about-service__text {
  margin: 0;
  margin-bottom: 18px;

  font-size: 16px;
  line-height: 1.38;
}

.about-service__text--bold {
  display: block;
  margin: 0;
}

.about-service__button {
  display: none;
  padding: 22px 150px 22px 24px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1;

  background-color: #ffd74b;
  color: #1d2e5b;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);

    svg {
      opacity: 0.3;
    }
  }
}

@media (min-width: 768px) {
  .about-service {
    padding-top: 90px;
    padding-bottom: 88px;
    margin-bottom: -60px;

    @include text-padding-tablet();

    border-radius: 0 0 60px 60px;
    background: url("../img/about-tablet@1x.png") no-repeat 107% 105px,
      #192144;

    @media (min-resolution: 1.5dppx) {
      background: url("../img/about-tablet@2x.png") no-repeat 107% 105px,
        #192144;
      background-size: contain;
    }
  }

  .about-service__header {
    margin: 0;
    margin-bottom: 41px;

    font-size: 45px;
    font-weight: bold;
    line-height: 1;

    color: #ff8d30;
  }

  .about-service__text {
    padding-right: 317px;
    margin: 0;
    margin-bottom: 34px;

    font-size: 28px;
    line-height: 1.18;
  }

  .about-service__text--bold {
    display: block;
    margin: 0;

    font-size: 21px;
    line-height: 1.19;
  }

  .about-service__button {
    display: flex;
    align-items: center;
    width: 44.3%;
    padding: 29px 36px 27px 33px;
    margin-top: 54px;

    font-size: 24px;

    border-radius: 20px;

    span {
      margin-right: auto;
    }
  }
}

@media (min-width: 1439px) {
  .about-service {
    padding: 183px 9.1% 163px 9.1%;

    background: url("../img/about-desktop@1x.png") no-repeat 93% 140px,
      #192144;

    @media (min-resolution: 1.5dppx) {
      background: url("../img/about-desktop@2x.png") no-repeat 93% 140px,
        #192144;
      background-size: 630px 665px;
    }
  }

  .about-service__header {
    margin-bottom: 59px;
  }

  .about-service__text {
    padding-right: 535px;
    margin-bottom: 41px;
  }

  .about-service__text--bold {
    padding-right: 700px;
    margin-bottom: 87px;
  }

  .about-service__button {
    width: 23.3%;
  }
}
