@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-padding-tablet {
  padding-right: 9.7%;
  padding-left: 9.7%;
}

.address {
  position: relative;
  z-index: 2;

  padding: 57px 7.6% 35px 8%;
  margin-bottom: -25px;
  min-height: 130px;

  border-radius: 0 0 30px 30px;
  background-color: #ffd74b;
}

.address__text {
  display: block;
  width: 143px;
  margin: 0;

  font-size: 16px;
  line-height: 1.38;
  font-weight: bold;
  text-transform: uppercase;

  color: #192144;
}

.address__button {
  display: flex;
  padding: 19px 8% 19px 7%;
  align-items: center;

  font-size: 18px;
  line-height: 1;
  font-weight: bold;

  color: #1d2e5b;
  border: 3px solid #192144;
  border-radius: 10px;

  span {
    margin-right: auto;
  }
}

.address__text-wrapper {
  display: flex;
  margin-bottom: 32px;
}

.address__icon {
  @include centering();
  width: 45px;
  height: 45px;
  margin-right: 16px;

  background-color: #121936;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .address {
    min-height: 190px;
    padding-right: 9.7%;
    padding-left: 9.7%;
    padding-top: 107px;
    padding-bottom: 85px;
    margin-bottom: -60px;

    border-radius: 0 0 60px 60px;
  }

  .address__button {
    padding: 27px 34px 24px 33px;

    font-size: 24px;

    border-radius: 20px;
  }

  .address__icon {
    flex-shrink: 0;
    margin-right: 26px;
    width: 67px;
    height: 67px;

    svg {
      width: 21px;
      height: 31px;
    }
  }

  .address__text {
    width: auto;

    font-size: 28px;
    font-weight: bold;
  }

  .address__text-wrapper {
    align-items: center;
    margin-bottom: 44px;
  }
}

@media (min-width: 1439px) {
  .address {
    display: flex;
    padding: 114px 9.2% 56px 19.7%;
    min-height: 200px;
  }

  .address__wrapper {
    display: flex;
    min-height: 50px;

    align-items: flex-end;
  }

  .address__text-wrapper {
    margin-bottom: 0;
    margin-right: 14.3%;
    display: flex;
    align-items: center;
  }

  .address__icon {
    width: 90px;
    height: 90px;
    margin-right: 32px;

    svg {
      width: 28px;
      height: 43px;
    }
  }

  .address__button {
    width: 31.7%;
    padding: 27px 32px 25px 34px;

    align-self: center;

    p {
      margin: 0;
      margin-right: 21px;
    }
  }
}
