.address {
  background-color: #ffd74b;
  min-height: 190px;
  border-radius: 0 0 30px 30px;
}

.address__text {
  font-size: 16px;
  line-height: 1.38;
  font-weight: bold;
  color: #192144;
  text-transform: uppercase;
  margin: 0;
}

.address__button {
  font-size: 18px;
  line-height: 1;
  color: #1d2e5b;
  font-weight: bold;
}
