.address {
  position: relative;
  z-index: 2;
  padding: 57px 7.6% 35px 8%;
  background-color: #ffd74b;
  min-height: 130px;
  border-radius: 0 0 30px 30px;
  margin-bottom: -25px;
}

.address__text {
  display: block;
  width: 143px;
  font-size: 16px;
  line-height: 1.38;
  font-weight: bold;
  color: #192144;
  text-transform: uppercase;
  margin: 0;
}

.address__button {
  display: block;
  padding: 20px 78px 20px 20px;
  font-size: 18px;
  line-height: 1;
  color: #1d2e5b;
  font-weight: bold;

  border: 3px solid #192144;
  border-radius: 10px;
}

.address__text-wrapper {
  display: flex;
  margin-bottom: 32px;
}

.address__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 16px;

  background-color: #121936;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .address {
    min-height: 190px;
    padding: 47px 75px 85px 75px;
  }

  .address__button {
    font-size: 24px;
    padding: 31px 353px 28px 37px;
  }

  .address__icon {
    width: 67px;
    height: 67px;
  }

  .address__text {
    width: 430px;
    font-size: 28px;
  }
}

@media (min-width: 1439px) {
  .address {
    display: flex;
    padding: 54px 133px 56px 284px;
    min-height: 200px;
  }

  .address__wrapper {
    display: flex;
    min-height: 50px;
    align-items: flex-end;
  }

  .address__text-wrapper {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .address__icon {
    width: 90px;
    height: 90px;
  }

  .address__button {
    padding: 31px 67px 28px 37px;
  }
}
