.catalog-header {
  background-color: #e2e5f2;
}

.catalog-header__logo--slogan {
  margin: 0;
}

.catalog-header__wrapper {
  background-color: #161c35;
  border-radius: 0 0 30px 30px;
}

.catalog-header__companions {
  font-size: 36px;
  line-height: 1.11;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}
