.catalog-header {
  position: relative;
  background-color: #e2e5f2;
}

.catalog-header__companions--active {
  &::after {
    content: "";
    position: absolute;
    left: 25px;
    bottom: -3px;
    width: 214px;
    height: 5px;
    background-color: #ff8d30;
    border-radius: 2.4px;
  }
}

.catalog-header__nav {
  position: relative;
  margin-top: -145px;
  padding: 27px 25px 40px 25px;

  width: 320px;
  height: 568px;

  font-size: 20px;

  background-color: #ffffff;
}

.form-header__nav {
  position: relative;
  margin-top: -145px;
  padding: 27px 25px 40px 25px;

  width: 270px;
  height: 500px;

  font-size: 20px;

  background-color: #ffffff;
}

.catalog-header__logo--slogan {
  margin: 0;
}

.catalog-header__logo {
  margin-right: 139px;
}

.catalog-header__wrapper {
  background-color: #161c35;
  border-radius: 0 0 20px 20px;
  padding: 20px 25px 12px 25px;
  min-height: 112px;
}

.catalog-header__logo-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.catalog-header__companions {
  font-size: 36px;
  line-height: 1.11;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.catalog-header__autorization {
  display: none;
}

.catalog-header__main {
  display: none;
}

@media (min-width: 768px) {
  .catalog-header__wrapper {
    padding: 40px 40px 70px 77px;
    min-height: 350px;
  }

  .page-header__toggle {
    margin-right: 144px;
  }

  .catalog-header__companions-wrapper {
    display: flex;
    align-items: center;
  }

  .catalog-header__logo-wrapper {
    margin-bottom: 137px;
  }

  .catalog-header__autorization {
    padding: 10px 30px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    color: #161c35;
    border-radius: 25px;
    background-color: #ffd74b;
  }

  .catalog-header__main {
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
  }

  .catalog-header__nav {
    width: 768px;
    height: 910px;
    margin-top: -350px;
  }

  .catalog-header__companions {
    margin-right: 160px;
    font-size: 60px;
    line-height: 1.17;
  }
}

@media (min-width: 1439px) {
  .catalog-header__companions {
    margin-right: 760px;
  }
}
