@mixin text-padding-tablet {
  padding-right: 9.7%;
  padding-left: 9.7%;
}

.companions {
  z-index: 8;

  margin-bottom: -25px;
  padding: 98px 8% 30px 7.6%;

  background: url("../img/rogovaya-back-mobile@1x.png") no-repeat -4% 337px,
  url("../img/smolov-back-desktop@1x.png") no-repeat 86% 63px,
  url("../img/blue-back-mobile@1x.png") no-repeat -10% 63px,
  #192144;
  border-radius: 0 0 30px 30px;

  @media (min-resolution: 1.5dppx) {
    background: url("../img/rogovaya-back-mobile@2x.png") no-repeat -4% 337px,
    url("../img/smolov-back-desktop@2x.png") no-repeat 86% 63px,
    url("../img/blue-back-mobile@1x.png") no-repeat -10% 63px,
    #192144;

    background-size: 71px 71px, 143px 143px , 132px 132px;
  }
}

.companions__list {
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;

  list-style: none;
}

.companions__item {
  padding-bottom: 21px;
  margin-bottom: 10px;
  min-height: 427px;

  background-color: #ffffff;
  border-radius: 10px;
}

.companions__avatar {
  width: 100%;
  height: 100%;

  border-radius: 10px 10px 0 0;
}

.companions__flags {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: -18px;
}

.companions__flag {
  margin-right: 17px;

  &:last-child {
    margin-right: 0;
  }
}

.companions__text-wrapper {
  padding: 0 8%;
  margin-bottom: 57px;
}

.companions__header {
  margin: 0;
  margin-bottom: 18px;

  font-size: 24px;
  line-height: 1;

  color: #ff8d30;
}

.companions__text {
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;

  color: #ffffff;
}

.companions__text--bold {
  font-weight: bold;
}

.companions__h3 {
  margin-top: 10px;
  margin-bottom: 15px;

  text-align: center;
  font-size: 21px;
  line-height: 1;

  color: #1d2e5b;
}

.companions__tag {
  margin: 0 auto;
  margin-bottom: 13px;
  width: 175px;

  font-size: 16px;
  line-height: 1.13;

  color: #444444;

  text-align: center;
}

.companions__travel {
  padding: 0px 75px;
  display: flex;
  justify-content: space-between;

  img {
    opacity: 0.3;
  }

  .companions__travel--active {
    opacity: 1;
  }
}

.companions__button {
  display: flex;
  margin: 0 auto;
  padding: 22px 49.8% 22px 8%;

  font-size: 18px;
  font-weight: bold;
  line-height: 1;

  background-color: #ffd74b;
  color: #1d2e5b;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .companions {
    @include text-padding-tablet();
    padding-top: 167px;
    padding-bottom: 88px;
    display: flex;
    flex-direction: column;

    background: url(../img/rogovaya-back-desktop@1x.png) no-repeat 85.6% 80px,
    url(../img/smolov-back-desktop@1x.png) no-repeat 5.3% 472px,
    url(../img/blue-back-mobile@1x.png) no-repeat 9% 105px,
    #192144;

    background-size: 285px 285px, 143px 143px, 200px 200px;

    @media (min-resolution: 1.5dppx) {
      background: url(../img/rogovaya-back-desktop@2x.png) no-repeat 85.6% 80px,
      url(../img/smolov-back-desktop@2x.png) no-repeat 5.3% 472px,
      url(../img/blue-back-mobile@1x.png) no-repeat 9% 105px,
      #192144;
      background-size: 285px 285px, 143px 143px, 200px 200px;
    }
  }

  .companions__wrapper {
    min-height: 1260px;
  }

  .companions__header {
    margin-bottom: 56px;

    font-size: 45px;
    line-height: 1;
  }

  .companions__text {
    padding-right: 170px;
    margin-bottom: 41px;

    font-size: 28px;
    line-height: 1.18;
  }

  .companions__text-wrapper {
    padding: 0;
  }

  .companions__text--bold {
    display: block;

    font-size: 21px;
    line-height: 1.19;
  }

  .companions__list {
    margin-bottom: 80px;
    flex-direction: row;
    justify-content: space-between;
  }

  .companions__item {
    padding-bottom: 29px;
    margin: 0;
    margin-right: 48px;
    width: 46%;

    &:last-child {
      margin-right: 0;
    }
  }

  .companions__button {
    padding: 30px 36px 27px 33px;
    order: 1;
    margin: 0;

    font-size: 24px;
  }

  .companions__avatar {
    height: 286px;
  }

  .companions__h3 {
    margin-top: 0;
    margin-bottom: 21px;

    font-size: 24px;
  }

  .companions__tag {
    padding: 0 30px;
    margin-bottom: 24px;
    width: auto;

    font-size: 20px;
    line-height: 1.2;
  }

  .companions__flags {
    margin-bottom: 15px;
  }

  .companions__travel {
    padding: 0 82px;
  }
}

@media (min-width: 1439px) {
  .companions {
    padding-right: 4%;
    padding-left: 9.1%;
    padding-top: 155px;
    padding-bottom: 63px;

    background: url(../img/rogovaya-back-desktop@1x.png) no-repeat 16.6% 410px,
    url(../img/smolov-back-desktop@1x.png) no-repeat 42.3% 158px,
    url(../img/blue-back-mobile@1x.png) no-repeat -10% 63px,
    #192144;

    background-size: 285px 285px, 143px 143px, 200px 200px;

    @media (min-resolution: 1.5dppx) {
      background: url(../img/rogovaya-back-desktop@2x.png) no-repeat 16.6% 410px,
      url(../img/smolov-back-desktop@2x.png) no-repeat 42.3% 158px,
      url(../img/blue-back-mobile@1x.png) no-repeat -10% 63px,
      #192144;

      background-size: 285px 285px, 143px 143px, 200px 200px;
    }
  }

  .companions__desktop-wrapper {
    display: flex;
  }

  .companions__text-wrapper {
    margin-right: auto;
  }

  .companions__text {
    padding-right: 195px;
  }

  .companions__list {
    padding-top: 4px;
    margin: 0;
  }

  .companions__item {
    width: 285px;
    margin-right: 60px;

    border-radius: 21px;
  }

  .companions__avatar {
    width: 285px;
    height: 285px;

    border-radius: 20px 20px 0 0;
  }

  .companions__button {
    align-self: flex-start;
    margin-left: 0;
    margin-top: -81px;
    margin-bottom: 70px;
    padding-right: 95px;
  }
}
