.country-filter {
  position: relative;

  background-color: #edeff6;
}

.country-filter__wrapper {
  position: relative;
  z-index: 5;

  display: flex;
  align-items: center;
  padding: 75px 9% 15px 7.8%;

  background-color: #e2e5f2;
  border-radius: 0 0 20px 20px;

  .container {
    display: flex;
    width: 100%;
  }
}

.country-filter__country-wrapper {
  display: none;
}

.country-filter__header {
  margin: 0;
  margin-right: auto;

  font-size: 16px;
  line-height: 1.38;
  text-transform: uppercase;

  color: #192144;
}

.country-filter__toggle {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  span {
    display: none;
  }

  svg {
    circle {
      fill: #192144;
    }
  }
}

.country-filter__logo {
  margin-right: 12px;

  svg {
    width: 15px;
    height: 10px;
  }
}

.country-filter__table-wrapper {
  position: absolute;
  z-index: 4;
  top: 43px;

  display: none;
  width: 100%;
  padding-left: 16%;
  padding-right: 15.5%;
  padding-top: 85px;
  padding-bottom: 27px;

  background-color: #e2e5f2;
  border-radius: 0 0 20px 20px;
}

.country-filter__item {
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }
}

.country-filter__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 64px;

  td {
    display: none;
  }
}

.country-filter__th {
  width: 45px;
  height: 41px;

  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;

  border: 1px solid #cbced9;
  color: #1d2e5b;
  background-color: #ffffff;

  &:hover {
    border: solid 1px #959bb2;
  }

  &:active {
    color: #ffffff;
    background-color: #1d2e5b;
  }
}

.country-filter__th--active {
  background-color: #1d2e5b;
  color: #ffffff;
}

.country-filter__choose-list {
  padding: 0;
  margin: 0;
  margin-bottom: 22px;

  list-style: none;
  line-height: 1.38;

  color: #444444;
}

.country-filter__table-list {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  list-style: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  text-transform: uppercase;

  color: #192144;

  li {
    margin-bottom: 5px;
  }
}

.country-filter__popup-close {
  width: 122.7%;
  margin-left: -11.4%;
  padding: 6px 83px 5px 85px;

  font-size: 16.5px;
  font-weight: bold;
  line-height: 1.79;
  text-transform: uppercase;

  color: #161c35;
  border-radius: 20px;
  border: 0;
  background-color: #d6daed;
  cursor: pointer;

  &:hover {
    background-color: #c8cee8;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);

    svg {
      opacity: 0.3;
    }
  }

  span {
    margin-left: 8px;
  }
}

.country-filter__choose-list-2 {
  display: none;
}

.country-filter__item--active {
  opacity: 1;

  &:hover {
    opacity: 1;
  }
}

.country-filter__list {
  display: none;
}

.country-filter__logo-wrapper {
  width: 100%;
  display: flex;
}

.country-filter__toggle--close {
  display: none;
}

.country-filter__toggle--open {
  display: block;
}

.country-filter__toggle--open-flex {
  display: flex;
}

.country-filter__open {
  display: block;
}

.country-filter__close {
  display: none;
}

@media (min-width: 768px) {
  .country-filter__wrapper {
    padding: 117px 9.7% 55px 9.6%;
    flex-direction: row;
    display: flex;
    align-items: center;

    background-color: #e2e5f2;
    border-radius: 0 0 60px 60px;

    .container {
      width: 100%;
      display: flex;
    }
  }

  .country-filter__table-wrapper {
    top: 109px;

    padding-top: 100px;
    padding-left: 5.4%;
    padding-right: 12.4%;
  }

  .country-filter__choose-list {
    font-size: 20px;
    line-height: 1.5;
  }

  .country-filter__popup-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97.9%;
    margin-left: 5.3%;
    padding: 34px 98px 38px 96px;

    font-size: 20px;

    svg {
      width: 19px;
      height: 19px;
    }

    span {
      margin-left: 21px;
    }
  }

  .country-filter__list {
    padding-left: 0;
    display: flex;
    width: 58.7%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-right: auto;

    list-style: none;
  }

  .country-filter__item {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;

    opacity: 0.3;
    color: #192144;
  }

  .country-filter__item--active {
    opacity: 1;
  }

  .country-filter__link {
    margin-left: auto;

    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;

    color: #192144;
  }

  .country-filter__choose-list-2 {
    display: block;
    margin-top: -12px;
  }

  .country-filter__table-list {
    display: none;
    justify-content: space-between;
    width: 20%;
  }

  .country-filter__choose-wrapper {
    display: flex;
    margin-bottom: -13px;

    .container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
  }

  .country-filter__table {
    width: 62%;
    margin-right: auto;
    border-collapse: separate;
    margin-top: -19px;
    border-spacing: 28px 2px;

    td {
      vertical-align: top;
    }

    p {
      margin: 0;
    }
  }

  .country-filter__choose-list--close {
    display: none;
  }

  .country-filter__th {
    opacity: 0.2;
    width: auto;
    font-size: 60px;
    font-weight: bold;

    background-color: transparent;
    border: 0;

    &:hover {
      border: 0;
    }

    &:active {
      background-color: transparent;
      color: #1d2e5b;
    }
  }

  .country-filter__th--active {
    opacity: 1;
    color: #1d2e5b;
  }

  .country-filter__logo {
    display: none;
  }

  .country-filter__logo-wrapper {
    width: auto;
    order: 2;
  }

  .country-filter__header {
    display: none;
  }

  .country-filter__toggle--open {
    display: flex;
  }

  .country-filter__toggle {
    order: 1;

    svg {
      width: 27px;
      height: 5px;
    }

    span {
      display: block;
      margin-right: 21px;

      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;

      color: #192144;
    }
  }

  .country-filter__toggle--close {
    svg {
      width: 19px;
      height: 19px;
    }

    span {
      margin-right: 66px;
    }
  }

  .country-filter__close {
    display: none;
  }

  .country-filter__list--open {
    display: flex;
  }
}

@media (min-width: 1439px) {
  .country-filter {
    margin-bottom: 0;
    background-color: #e2e5f2;
    border-radius: 0 0 60px 60px;
  }

  .country-filter__bg {
    background-color: #edeff6;
  }

  .country-filter__country-wrapper {
    padding: 84px 8.5% 53px 5.6%;
    display: flex;
  }

  .country-filter__popup-close {
    margin-top: 40px;
    width: 101.4%;
    padding: 34px 98px 31px 96px;
    margin-left: -17px;
  }

  .country-filter__table-wrapper {
    position: static;
    padding: 0;
    padding-top: 73px;
    padding-bottom: 75px;
    margin-bottom: -60px;
    background-color: #edeff6;
  }

  .country-filter__logo-wrapper {
    order: 0;
    margin-right: 38px;
    display: flex;
    align-items: center;
  }

  .country-filter__wrapper {
    padding: 117px 0 55px 0;
    margin-bottom: -60px;

    .container {
      display: flex;
      width: 1440px;

      padding-left: 79px;
      padding-right: 121px;
    }
  }

  .country-filter__list {
    width: 29.5%;
  }

  .country-filter__item-icon {
    margin-right: 6.3%;
    width: 23px;
    height: 15px;
    display: block;
  }

  .country-filter__item-filter {
    display: block;
  }

  .country-filter__list-1 {
    display: flex;
    width: 26.2%;
    padding: 0;
    margin: 0;
  }

  .country-filter__choose-list {
    display: none;
  }

  .country-filter__choose-wrapper {
    width: 100%;

    .container {
      padding-left: 76px;
    }
  }

  .country-filter__table {
    width: 1290px;
    margin: 0;
    border-collapse: separate;
    margin-top: -10px;
    margin-left: -10px;

    tr {
      display: flex;
      justify-content: space-between;
    }

    td {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 18.5%;
      padding-bottom: 38px;
      font-size: 20px;
      line-height: 1.5;
    }

    th {
      display: flex;
      height: 101px;
      width: 19%;
      opacity: 1;
      align-items: flex-start;
    }

    .country-filter__tr--1 {
      padding-bottom: 0;
    }
  }

  .country-filter__tr-3 {
    padding-bottom: 39px;
  }

  .country-filter__table-list {
    display: none;
  }

  .country-filter__logo {
    display: flex;
    margin-right: 21px;

    svg {
      width: 23px;
      height: 15px;
    }
  }

  .country-filter__header {
    display: flex;
    margin-right: 0;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
  }
}
