.country-filter {
  background-color: #edeff6;
}

.country-filter__wrapper {
  background-color: #e2e5f2;
  min-height: 50px;
  border-radius: 0 0 30px 30px;
}

.country-filter__header {
  margin: 0;
  font-size: 16px;
  line-height: 1.38;
  color: #192144;
  text-transform: uppercase;
}
