.dates-stay {
  display: flex;
  flex-direction: column;
  padding: 24px 9% 22px 9%;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.dates-stay__header-wrapper {
  order: -3;
}

.dates-stay__intro {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: #1d2e5b;
}

.dates-stay__h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: #1d2e5b;
}

.dates-stay__filter-wrapper {
  display: flex;
  margin-bottom: 8px;
}

.dates-stay__text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.38;
  color: #444444;
}

.dates-stay__range-wrapper {
  position: relative;
  margin-bottom: 21px;
}

.dates-stay__filter {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.6px;
  color: #1d2e5b;
  text-transform: uppercase;
}

.dates-stay__label {
  font-size: 15px;
  line-height: 1;
  color: #444444;
}

.dates-stay__button {
  position: absolute;
  border: none;
  background-color: transparent;

  svg {
    margin: auto;
    opacity: 0.3;
    width: 14px;
    height: 14px;
  }
}

.dates-stay__button--left {
  left: 4%;
  bottom: 8px;
}

.dates-stay__button--right {
  right: 4%;
  bottom: 8px;
}

.dates-stay__filter--number {
  margin-left: auto;
  opacity: 0.3;
}

.dates-stay__date {
  padding-top: 13px;
  margin: 0;
  display: block;
  height: 44px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: #1d2e5b;
  border-top: solid 1px #cbced9;
  border-bottom: solid 1px #cbced9;
}

.dates-stay__range {
  width: 100%;
  height: 43px;
  color: #1d2e5b;
  text-align: center;

  border-radius: 4px;
  border: solid 1px #cbced9;
}

.dates-stay__input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.dates-stay__input--temporarily {
  width: 26px;
  height: 26px;
  margin: 0;
  margin-right: 13px;
}

.dates-stay__date-wrapper {
  position: relative;
  margin-bottom: 4px;
}

.dates-stay__date-button {
  background-color: transparent;
  border: 0;
}

.dates-stay__table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.dates-stay__th {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
}

.dates-stay__td {
  padding-top: 5px;
  width: 30px;
  height: 31px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  text-align: center;
  border: solid 1px #cbced9;
}

.dates-stay__tr--first {
  .dates-stay__th {
    padding-bottom: 7px;
  }
}

.red {
  color: #ff5c23;
}

.dates-stay__table-button {
  padding: 5px 41px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-transform: uppercase;

  color: #161c35;
  background-color: #ffd74b;
  border: 0;
  border-radius: 20px;
}

.dates-stay__div-1 {
  order: -2;
}

.dates-stay__div-2 {
  order: 0;
}

.dates-stay__form {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .dates-stay {
    width: auto;
    padding: 48px 7.3% 55px 7%;
    margin-bottom: 40px;
  }

  .dates-stay__table {
    margin-bottom: 45px;
  }

  .dates-stay__form {
    margin-bottom: 22px;
  }

  .dates-stay__intro {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
  }

  .dates-stay__h3 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 34px;
  }

  .dates-stay__text {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 39px;
  }

  .dates-stay__filter-wrapper {
    border-top: 1px solid #d6d9e6;
    padding-top: 24px;
    margin-bottom: 24px;
  }

  .dates-stay__filter {
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .dates-stay__range {
    height: 70px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .dates-stay__div-1 {
    margin-bottom: 4px;
  }

  .dates-stay__button {
    svg {
      width: 20px;
      height: 40px;
    }
  }

  .dates-stay__div {
    display: flex;
    flex-direction: column;
  }

  .dates-stay__input-wrapper {
    order: -1;
    margin-bottom: 27px;
  }

  .dates-stay__input--temporarily {
    width: 36px;
    height: 36px;
  }

  .dates-stay__label {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    color: #1d2e5b;
  }

  .dates-stay__date-wrapper {
    margin-bottom: 11px;
  }

  .dates-stay__date {
    padding-top: 27px;
    height: 85px;
    font-size: 36px;
    font-weight: bold;
  }

  .dates-stay__th {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 1.8px;
  }

  .dates-stay__td {
    width: 77px;
    height: 69px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    color: rgba(29, 46, 91, 0.3);
  }

  .dates-stay__table-button {
    width: 54%;
    padding: 30px 78px 28px 34px;
    text-transform: none;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
  }
}

@media (min-width: 1439px) {
  .dates-stay {
    padding: 100px 12.1% 115px 12.1%;
    margin-bottom: 44px;
  }

  .dates-stay__h3 {
    margin-bottom: 0;
  }

  .dates-stay__text {
    padding-right: 280px;
  }

  .dates-stay__step-wrapper {
    margin-bottom: 34px;
    display: flex;
  }

  .dates-stay__list-wrapper {
    display: block;
  }

  .dates-stay__header-wrapper {
    display: flex;
    margin-bottom: 46px;
  }

  .dates-stay__list {
    margin: 0;
    padding: 0;
  }

  .dates-stay__range-wrapper {
    left: 49.6%;
    position: absolute;

    width: 36%;
  }

  .dates-stay__item {
    margin-bottom: 27px;

    a {
      font-size: 20px;
      line-height: 0.69;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  .dates-stay__filter-wrapper {
    position: relative;

    width: 47.7%;
    padding-top: 27px;

    border: 0;
  }

  .dates-stay__form {
    margin-bottom: 16px;
  }

  .dates-stay__companion-wrapper {
    padding-top: 50px;
    display: flex;

    border-top: solid 1px #cbced9;
  }

  .dates-stay__filter--number {
    position: absolute;
    left: 194%;

    opacity: 1;
  }

  .dates-stay__range {
    width: 39%;
    height: 70px;
  }

  .dates-stay__div {
    position: relative;
    width: 46.2%;
    flex-direction: row;
  }

  .dates-stay__input-wrapper {
    order: -2;
    margin-left: auto;
  }

  .dates-stay__date-wrapper {
    margin-bottom: 1px;
  }

  .dates-stay__td {
    padding: 0;
    width: 143px;
    height: 71px;
    text-align: justify;
  }

  .dates-stay__form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .dates-stay__div-1 {
    margin-bottom: 14px;
  }

  .dates-stay__button--left {
    bottom: -61px;
  }

  .dates-stay__button--right {
    bottom: -61px;
  }
}
