@mixin block-padding-tablet {
  padding-left: 5.3%;
  padding-right: 5.3%;
}

.description {
  padding: 0 7.8%;
  padding-bottom: 40px;

  background-color: #192144;
}

.description__list {
  margin: 0 auto;
  margin-top: -82px;
  padding: 0;

  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  list-style: none;
}

.description__item {
  display: flex;
  padding: 22px 20px 32px 25px;

  color: #ffffff;
}

.description__item-number {
  margin: 0;
  margin-left: auto;
}

.description__item--blue {
  margin: 0;
  padding-right: 30px;

  color: #161c35;
}

.description__item--1 {
  border-radius: 10px 10px 0 0;
  background-color: #ff8d30;
}

.description__item--2 {
  margin-top: -10px;

  border-radius: 10px 10px 0 0;
  background-color: #ffa530;
}

.description__item--3 {
  margin-top: -10px;

  border-radius: 10px 10px 0 0;
  background-color: #ffbd30;
}

.description__item--4 {
  margin-top: -10px;
  height: 81px;

  border-radius: 0 0 10px 10px;
  background-color: #ffd74b;
}

@media (min-width: 768px) {
  .description {
    @include block-padding-tablet();
  }

  .description__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: -140px;
  }

  .description__item {
    flex-direction: column;

    font-size: 24px;
  }

  .description__item--blue {
    padding: 0;
    margin-bottom: 10px;
  }

  .description__item-number {
    margin: 0;

    font-size: 30px;
    font-weight: bold;
  }

  .description__item--1 {
    width: 52.6%;
    padding: 31px 85px 30px 28px;
    margin-right: -3%;

    background-color: #ff8d30;
    border-radius: 20px 0 0 0;
  }

  .description__item--2 {
    width: 50.4%;;
    padding: 31px 0 30px 36px;
    margin-top: 0;

    background-color: #ffa530;
    border-radius: 20px 20px 0 0;
  }

  .description__item--3 {
    padding: 32px 142px 20px 32px;
    width: 52.7%;
    margin-right: -3%;

    background-color: #ffbd30;
    border-radius: 0 0 0 20px;
  }

  .description__item--4 {
    padding: 32px 100px 25px 36px;
    width: 50.3%;
    height: auto;

    background-color: #ffd74b;
    border-radius: 0 0 20px 20px;
  }
}

@media (min-width: 1439px) {
  .description {
    z-index: 11;

    margin-bottom: -95px;
    padding-left: 4.3%;
    padding-right: 4.2%;
  }

  .description__list {
    margin-top: -230px;
  }

  .description__item {
    flex-direction: row;
    margin: 0;
    margin-left: -1.2%;
    padding: 29px 3.8% 29px 2.5%;
  }

  .description__item--blue {
    margin-right: auto;
    padding-right: 29%;
    margin-bottom: 0;
  }

  .description__item-number {
    font-size: 24px;
  }

  .description__item--1 {
    width: 25%;
    margin-left: 0;

    border-radius: 20px 0 0 20px;
  }

  .description__item--2 {
    width: 27.5%;
    padding-right: 3.7%;
    padding-left: 2.3%;

    border-radius: 20px 0 0 20px;
  }

  .description__item--3 {
    width: 30%;
    padding-right: 6.3%;
    padding-left: 2.4%;
    margin-right: -2.5%;

    border-radius: 20px 0 0 20px;
  }

  .description__item--4 {
    margin-left: -1.5%;
    padding-left: 2.5%;
    padding-right: 2.4%;
    height: auto;
    width: 23.8%;

    border-radius: 20px;
  }
}
