@mixin text-padding-mobile {
  padding-left: 15.6%;
  padding-right: 15.6%
}

@mixin text-padding-tablet {
  padding-right: 9.7%;
  padding-left: 9.7%;
}

@mixin block-padding-mobile {
  padding-left: 8%;
  padding-right: 8%;
}

.directions {
  z-index: 9;

  display: flex;
  flex-direction: column;
  @include block-padding-mobile();
  padding-top: 97px;
  padding-bottom: 30px;
  margin: 0;
  margin-bottom: -25px;

  background-color: #edeff6;
  border-radius: 0 0 30px 30px;
}

.directions__list {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  list-style: none;
}

.directions__item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.directions__header {
  margin: 0;
  margin-bottom: 19px;

  font-size: 24px;
  line-height: 1;

  color: #ff8d30;
}

.directions__h3 {
  margin: 0;
  font-size: 21px;
  line-height: 1;
  margin-bottom: 2px;

  color: #161c35;
}

.directions__text {
  margin: 0;

  font-weight: 500;
  line-height: 1.13;
  font-size: 16px;
  opacity: 0.3;
}

.directions__text--desc {
  margin: 0;
  margin-bottom: 60px;

  opacity: 1;
  line-height: 1.38;
  font-weight: 300;
}

.directions__text-wrapper {
  padding-left: 9%;
  padding-right: 11%;
}

.directions__card-wrapper {
  position: relative;
  padding: 25px 9.6% 25px 8.6%;
  margin-top: -15px;
  margin-bottom: 9px;

  background-color: #ffffff;
  border-radius: 10px;
}

.directions__card-wrapper--shadow {
  box-shadow: inset -8px -45px 25px -8px rgba($color: #edeff6, $alpha: 1);
}

.directions__number-wrapper {
  position: absolute;
  right: 9%;
  bottom: 38px;

  display: flex;
  align-items: center;
}

.directions__number {
  margin: 0;
  margin-left: 7px;

  font-size: 16px;
  line-height: 1.88;
  opacity: 0.3;
}

.directions__flag {
  position: absolute;
  left: 9%;
  top: -12px;
}

.directions__link {
  order: 1;
  display: flex;
  align-items: center;
  padding: 23px 8.3% 22px 8.4%;

  font-size: 18px;
  font-weight: bold;
  line-height: 1;

  background-color: #ffd74b;
  color: #1d2e5b;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);

    svg {
      opacity: 0.3;
    }
  }

  span {
    margin-right: auto;
  }
}

.directions__img {
  width: 100%;
  height: 100%;

  border-radius: 10px 10px 0 0;
}

@media (min-width: 768px) {
  .directions {
    @include text-padding-tablet();
    padding-bottom: 80px;
    padding-top: 130px;
    margin-bottom: -60px;

    border-radius: 0 0 60px 60px;

    background: url(../img/flags-back@1x.png) no-repeat 92% 104px,
    #edeff6;

    @media (min-resolution: 1.5dppx) {
      background: url(../img/flags-back@2x.png) no-repeat 92% 104px,
    #edeff6;
      background-size: 289px 575px;
    }
  }

  .directions__h3 {
    font-size: 24px;

    margin-bottom: 6px;
  }

  .directions__flag {
    width: 70px;
    height: 47px;
    right: -35px;
    left: auto;
    top: 16px;
  }

  .directions__picture {
    width: 30%;
  }

  .directions__text--slogan {
    font-size: 20px;
    font-weight: 500;
    line-height: 0.88;
  }

  .directions__number {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
  }

  .directions__text-wrapper {
    padding: 0;
  }

  .directions__header {
    margin-bottom: 59px;

    font-size: 45px;
    line-height: 1;
  }

  .directions__text--desc {
    padding-right: 275px;
    margin-bottom: 107px;

    font-size: 28px;
    line-height: 1.18;
  }

  .directions__list {
    margin-bottom: 48px;
  }

  .directions__item {
    margin-bottom: 10px;

    flex-direction: row;
    min-height: 140px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .directions__picture {
    margin: 0;
    padding: 0;
    height: 140px;
  }

  .directions__img {
    margin-bottom: -5px;
    border-radius: 0 20px 20px 0;
    height: 140px;
  }

  .directions__card-wrapper {
    order: -1;
    flex-grow: 1;
    margin: 0;
    padding: 29px 6.5% 45px 5%;

    border-radius: 20px 0 0 20px;
  }

  .directions__link {
    padding: 27px 35px 29px 34px;

    font-size: 24px;

    border-radius: 20px;
  }

  .directions__number-wrapper {
    right: auto;
    left: 7.1%;
    bottom: 18px;

    svg {
      width: 21px;
      height: 20px;
    }
  }

  .directions__card-wrapper--shadow {
    box-shadow: none;
  }
}

@media (min-width: 1439px) {
  .directions {
    padding: 221px 8.2vw 61px 9.2vw;
    background: url(../img/flags-back@1x.png) no-repeat 95% 114px, #edeff6;

    @media (min-resolution: 1.5dppx) {
      background: url(../img/flags-back@2x.png) no-repeat 95% 114px, #edeff6;
      background-size: 289px 575px;
    }
  }

  .directions__desktop-wrapper {
    display: flex;
  }

  .directions__link {
    margin: -119px 0 79px 51vw;
    padding: 29px 35px 27px 32px;
    width: 18.9vw;
  }

  .directions__list {
    width: 38.8vw;
    order: -1;
    margin-right: 11.9vw;
  }

  .directions__card-wrapper {
    padding: 22px 8.3% 24px 5.4%;
    flex-grow: 1;
  }

  .directions__header {
    margin-bottom: 58px;
  }

  .directions__text-wrapper {
    padding-top: 2px;
    order: 2;
    width: 24vw;
  }

  .directions__text--desc {
    padding: 0;
  }

  .directions__flag {
    right: -34px;
    top: 23px;
  }

  .directions__number-wrapper {
    left: 8.2%;
  }
}
