.filter {
  padding: 25px 7.5% 0 7.5%;
  background-color: #edeff6;
}

.filter__header {
  margin: 0;
  margin-bottom: 23px;
  padding: 0 10px 0 0;

  font-size: 22.5px;
  line-height: 1;
  font-weight: bold;

  color: #1d2e5b;
}

.filter__form {
  padding: 26px;

  background-color: #ffd74b;
  border-radius: 20px;
}

.filter__button-submit {
  margin: 0 auto;
  display: table;
  padding: 10px 76px;

  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;

  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  color: #161c35;
}

@media (min-width: 768px) {
  .filter {
    padding: 46px 5.1% 0 5.2%;
  }

  .filter__form {
    padding: 36px 5.1% 36px 5%;
  }

  .filter__wrapper {
    padding: 37px 35px 36px 35px;
  }

  .filter__header {
    font-size: 30px;
    margin-bottom: 37px;
  }

  .filter__button-submit {
    display: flex;
    width: 100%;
    justify-content: center;

    font-size: 20px;
    line-height: 1.5;
  }
}

@media (min-width: 1439px) {
  .filter {
    width: 21.6%;
    order: 1;
    padding: 0;
  }

  .filter__form {
    padding: 47px 16.4% 36px 16.2%;
  }

  .filter__header {
    margin-bottom: 19px;
  }
}
