.filter {
  background-color: #edeff6;
}

.filter__header {
  margin: 0;
  font-size: 22.5px;
  line-height: 1;
  font-weight: bold;
  color: #1d2e5b;
}

.filter__form {
  background-color: #ffd74b;
  border-radius: 30px;
}
