.food__header {
  margin: 0;
  padding-left: 2px;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.13;
  text-transform: uppercase;

  color: #1d2e5b;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.food__list {
  padding-left: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: 1s;

  list-style: none;
}

.food__item {
  margin-bottom: 12px;
  margin-top: 5px;
  margin-left: 1px;
  display: flex;
  align-items: center;

  font-size: 15px;
  line-height: 1;

  color: #444444;

  &:last-child {
    margin-bottom: 19px;
  }

  input {
    margin: 0;
    margin-right: 9px;
    width: 18px;
    height: 18px;

    border-radius: 4px;
  }
}

.food__header-wrapper {
  display: flex;
  height: 40px;
  align-items: center;

  border-top: 1px solid #f3c72b;
}

.food__header-dropdown {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: -10px;

  transform: rotate(0);
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .food {
    display: flex;
    padding-top: 9px;
  }

  .food__header {
    margin: 0;
    padding: 0;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;

    border: 0;
  }

  .food__header-wrapper {
    width: 20.4%;
    border: 0;
  }

  .food__header-dropdown {
    display: none;
  }

  .food__list {
    display: flex;
    overflow: visible;
    max-height: none;
    padding-top: 2px;
    flex-grow: 1;
    flex-direction: row;
  }

  .food__item--3 {
    margin-bottom: auto;
  }

  .food__item {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin: 0;

    input {
      margin: 0;
      margin-right: 11px;
      width: 24px;
      height: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .food__item--1 {
    width: 34.4%;
  }

  .food__item--2 {
    width: 35%;
  }

  .food__item--3 {
    width: 30.3%;
  }
}

@media (min-width: 1439px) {
  .food {
    padding: 0;
    display: block;
  }

  .food__header {
    padding-left: 0;
  }

  .food__header-wrapper {
    width: auto;
  }

  .food__list {
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
  }

  .food__item {
    width: auto;
    margin: 14px 0 2px 2px;

    &:last-child {
      margin-bottom: 21px;
    }
  }

  .food__header-dropdown {
    display: flex;
  }
}
