.food__header {
  margin: 0;
  padding: 10px 0;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.13;

  color: #1d2e5b;
  border-top: 1px solid #f3c72b;
  text-transform: uppercase;
}

.food__list {
  padding-left: 0;
  margin: 0;

  list-style: none;
}

.food__item {
  margin-bottom: 12px;

  color: #444444;
}

@media (min-width: 768px) {
  .food {
    display: flex;
    padding-top: 2px;
  }

  .food__header {
    width: 20.4%;
    margin: 0;
    padding: 0;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;

    border: 0;
  }

  .food__list {
    display: flex;
    padding-top: 2px;
    flex-grow: 1;
    flex-direction: row;
  }

  .food__item--3 {
    margin-bottom: auto;
  }

  .food__item {
    display: flex;
    font-size: 20px;
    align-items: center;

    input {
      margin: 0;
      margin-right: 11px;
      width: 24px;
      height: 24px;
    }

    &:last-child {
      margin-bottom: auto;
    }
  }

  .food__item--1 {
    width: 34.4%;
  }

  .food__item--2 {
    width: 35%;
  }

  .food__item--3 {
    width: 30.3%;
  }
}

@media (min-width: 1439px) {
  .food {
    display: block;
  }

  .food__list {
    flex-direction: column;
  }

  .food__item {
    width: auto;
  }
}
