@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-profile {
  display: flex;
  flex-direction: column;
  padding: 46px 7.8% 39px 7.8%;

  background-color: #edeff6;
}

.form-profile__avatar-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.form-profile__photo {
  margin: 0;
  display: none;
}

.form-profile__level-icon {
  margin-right: 14%;

  border-radius: 50%;
}

.form-profile__avatar {
  width: 100px;
  height: 100px;

  border-radius: 50%;
}

.form-profile__change-photo {
  margin-bottom: 10px;
  padding: 5px 0;
  @include centering();

  font-size: 17px;
  line-height: 1.76;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #dfe3f0;
  color: #161c35;
  border-radius: 20px;
}

.form-profile__textarea-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

.form-profile__legend {
  z-index: 1;

  margin-left: auto;
  margin-right: auto;

  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.13;
  text-transform: uppercase;

  color: #1d2e5b;
  background-color: #edeff6;
}

.form-profile__legend--tag {
  width: 70px;
}

.form-profile__legend--transport {
  width: 110px;
}

.form-profile__textarea {
  padding: 21px 32px 21px 24px;
  margin-top: -26px;
  resize: none;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.38;

  background-color: transparent;
  color: #444444;
  border-radius: 10px;
  border: solid 1px #cbced9;
}

.form-profile__transport-wrapper {
  display: flex;
  flex-direction: column;
}

.form-profile__list {
  margin-top: -27px;
  display: flex;
  padding: 15px;
  justify-content: center;

  list-style: none;

  border: solid 1px #cbced9;
  border-radius: 10px;
}

.form-profile__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;

  background-color: #ffffff;
  border-radius: 50%;

  img {
    opacity: 0.3;
  }
}

.form-profile__item--active {
  img {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .form-profile {
    padding: 0 9.9%;
    padding-top: 89px;
    padding-bottom: 52px;
  }

  .form-profile__level-icon {
    margin-right: auto;
  }

  .form-profile__avatar {
    border-radius: 5px;
  }

  .form-profile__transport-wrapper {
    order: -1;

    padding: 0 25%;
    display: flex;
    flex-direction: column;
  }

  .form-profile__list {
    margin-top: 0;
    margin-bottom: -30px;
    height: 94px;
    padding: 26px 15px;
  }

  .form-profile__item {
    margin-right: 8px;
    width: 43px;
    height: 43px;

    &:last-child {
      margin-right: 0;
    }
  }

  .form-profile__item--1 {
    img {
      width: 19px;
      height: 21px;
    }
  }

  .form-profile__item--2 {
    img {
      width: 17px;
      height: 21px;
    }
  }

  .form-profile__item--3 {
    img {
      width: 24px;
      height: 21px;
    }
  }

  .form-profile__item--4 {
    img {
      width: 20px;
      height: 21px;
    }
  }

  .form-profile__avatar-wrapper {
    margin-top: -92px;
    margin-bottom: 50px;

  img {
    width: 94px;
    height: 94px;
  }
}

  .form-profile__legend--transport {
    order: 1;
    margin-bottom: -10px;

    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .form-profile__change-photo {
    padding: 20px 0;
    margin-bottom: 76px;

    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .form-profile__textarea {
    display: flex;
    padding: 0 6.1%;
    padding-top: 33px;
    padding-bottom: 6px;
    width: auto;

    font-size: 20px;
  }

  .form-profile__textarea-wrapper {
    display: flex;
    flex-direction: column;
  }

  .form-profile__legend--tag {
    order: 1;

    margin-top: -8px;

    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }
}

@media (min-width: 1439px) {
  .form-profile {
    min-height: auto;
    padding: 74px 4.1% 61px 8.6%;
  }

  .form-profile__photo {
    display: block;
  }

  .form-profile__avatar-wrapper {
    z-index: 5;

    margin-top: -387px;
    margin-bottom: 148px;
    margin-right: 95px;
    align-items: flex-start;
    margin-left: auto;

    img {
      width: auto;
      height: auto;
    }
  }

  .form-profile__level-icon {
    position: relative;
    order: 1;

    margin-top: 40px;
    margin-right: 43px;
  }

  .form-profile__avatar {
    width: 190px;
    height: 190px;

    border-radius: 10px 10px 0 0;
  }

  .form-profile__photo {
    padding-top: 15px;
    margin-top: -5px;
    height: 47px;

    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;

    background-color: #dfe3f0;
    border-radius: 0 0 10px 10px;
    color: #1d2e5b;
    text-transform: uppercase;
  }

  .form-profile__picture {
    position: relative;
    order: 1;
  }

  .form-profile__transport-wrapper {
    margin: 0;
    padding: 0;
    margin-left: auto;
    width: 30.6%;
  }

  .form-profile__textarea-wrapper {
    margin: 0;
    margin-right: auto;
    margin-top: 50px;
    width: 58.1%;
    order: -1;
  }

  .form-profile__list {
    height: 94px;
    margin-top: -125px;
  }

  .form-profile__item {
    margin: 0;
  }

  .form-profile__change-photo {
    display: none;
  }

  .form-profile__legend--tag {
    margin-left: 30px;
  }
}
