.form-header {
  background-color: #edeff6;
}

.form-header__logo--slogan {
  margin: 0;
}

.form-header__wrapper {
  background-color: #161c35;
  border-radius: 0 0 30px 30px;
}

.form-header__companions {
  font-size: 36px;
  line-height: 1.11;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}
