.form-header {
  background-color: #edeff6;
}

.form-header__logo--slogan {
  margin: 0;
}

.form-header__wrapper {
  background-color: #161c35;
  border-radius: 0 0 30px 30px;
}

.form-header__companions {
  margin: 0;

  font-size: 36px;
  line-height: 1.11;
  font-weight: bold;

  color: #ffffff;
}

.form-header__nav {
  position: relative;
  margin-top: -132px;
  margin-left: -9.5%;
  margin-bottom: -12px;
  padding: 28px 9.4% 39px 9.4%;
  width: 119.1%;
  height: 568px;

  font-size: 20px;

  background-color: #ffffff;
}


@media (min-width: 768px) {
  .form-header__nav {
    padding: 40px 40px 90px 40px;
    margin-top: -274px;
    margin-left: -25px;
    width: 768px;
    height: 910px;
  }
}

@media (min-width: 1439px) {
  .form-header__nav {
    position: absolute;
    left: 28.2%;
    top: 60px;
    display: block;
    padding: 0;
    margin: 0;
    width: 29.4%;
    height: auto;
    background-color: transparent;
  }
}
