.level__header {
  margin: 0;
  padding-left: 2px;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.13;
  text-transform: uppercase;

  color: #1d2e5b;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.level__input {
  width: 51%;
  height: 35px;

  text-align: center;

  border: solid 1px #cbced9;
  border-radius: 4px;

  &:last-child {
    margin-left: -1px;
  }
}

.level__input-wrapper {
  display: flex;
  margin-top: 2px;
  margin-bottom: 24px;
}

.level__range-wrapper {
  position: relative;
  display: flex;
  height: 10px;
}

.level__left-range {
  height: 2px;
  width: 33.2%;

  opacity: 0.3;
  background-color: #1d2e5b;
}

.level__right-range {
  display: flex;
  align-items: center;
  height: 2px;
  width: 76%;

  background-color: #1d2e5b;
}

.level__button {
  cursor: pointer;
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: #1d2e5b;
}

.level__left-button {
  margin-right: auto;
}

.level__header-wrapper {
  display: flex;
  height: 40px;
  align-items: center;

  border-top: 1px solid #f3c72b;
}

.level__header-dropdown {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: -10px;

  transform: rotate(0);
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.level__wrapper {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}

@media (min-width: 768px) {
  .level {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
    padding-top: 13px;
    padding-bottom: 37px;

    border-bottom: 1px solid #f3c72b;
  }

  .level__wrapper {
    display: flex;
    width: 79.3%;
    align-items: center;
    overflow: visible;
    max-height: none;
  }

  .level__range-wrapper {
    width: 57.6%;
    height: auto;
    margin-bottom: 0;
    margin-right: auto;
    order: 2;
  }

  .level__right-range {
    height: 3px;
    width: 75.4%;
  }

  .level__left-range {
    height: 3px;
    width: 24.2%;
  }

  .level__button {
    width: 13px;
    height: 13px;
  }

  .level__header {
    order: 1;
    padding: 0;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;

    border: 0;
  }

  .level__header-wrapper {
    width: 20.6%;
    border: 0;
  }

  .level__header-dropdown {
    display: none;
  }

  .level__input-wrapper {
    order: 3;
    margin: 0;
    width: 30.2%;
  }

  .level__input {
    margin-bottom: 0;
    height: 46px;

    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }
}

@media (min-width: 1439px) {
  .level {
    padding: 0;
    padding-top: 5px;
    display: block;
    border: 0;
  }

  .level__wrapper {
    width: auto;
    margin-top: 10px;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
  }

  .level__range-wrapper {
    width: 100%;
    margin: 0;
    margin-bottom: 7px;
  }

  .level__left-range {
    width: 34.2%;
  }

  .level__header {
    order: 0;
    padding-left: 0;
  }

  .level__input-wrapper {
    order: 0;
    width: auto;
    margin-bottom: 36px;
  }

  .level__header-wrapper {
    width: auto;
  }

  .level__item {
    margin-right: 0;
  }

  .level__header-dropdown {
    display: flex;
  }
}
