.main-desc {
  min-height: 564px;
  background-color: #161c35;
  margin-top: 50px;

  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
}

.main-desc__list {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  margin: 0;
}

.main-desc__item {
  color: #ffffff;
}

.main-desc__item--blue {
  color: #161c35;
}
