@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer {
  position: relative;
  z-index: 2;
  padding: 38px 8% 17px 8%;
  min-height: 180px;
  display: flex;
  flex-direction: column;

  background-color: #ffffff;

  border-radius: 30px 30px 0 0;
}

.main-footer__list {
  display: flex;
  justify-content: center;
  min-width: 135px;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;

  list-style: none;
}

.main-footer__item {
  @include centering();
  width: 45px;
  height: 45px;

  background-color: #ffd74b;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);

    svg {
      opacity: 0.3;
    }
  }
}

.main-footer__logo {
  display: table;
  margin: 0 auto;
  margin-bottom: 32px;
}

.main-footer__text {
  margin: 0;
  margin-right: auto;

  font-weight: normal;
}

.main-footer__develop-wrapper {
  display: flex;
  align-items: center;
  padding-top: 12px;

  border-top: 1px solid rgba($color: #000000, $alpha: 0.05);

  svg {
    width: 27px;
    height: 34px;
  }
}

@media (min-width: 768px) {
  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 5.3%;
    padding-right: 5.3%;
    padding-top: 19px;
    margin-top: 10px;
    min-height: 154px;

    border-radius: 60px 60px 0 0;
  }

  .main-footer__develop-wrapper {
    height: 34px;
    padding-top: 0;
  }

  .main-footer__list {
    margin-bottom: 0;
    margin-left: -11px;
  }

  .main-footer__item {
    width: 60px;
    height: 60px;
  }

  .main-footer__text {
    margin-right: 24px;

    font-size: 20px;

    color: #444444;
  }

  .main-footer__item--facebook {
    svg {
      width: 14px;
      height: 28px;
    }
  }

  .main-footer__item--vk {
    svg {
      width: 31px;
      height: 16px;
    }
  }

  .main-footer__item--instagram {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  .main-footer__logo {
    margin: 0;
  }
}

@media (min-width: 1439px) {
  .main-footer {
    min-height: 154px;
    margin-top: -58px;
    padding-left: 4.2%;
    padding-right: 4%;
    padding-top: 19px;
  }

  .main-footer__list {
    margin-left: -48px;
  }
}
