.main-footer {
  position: relative;
  z-index: 2;
  padding: 45px 8% 15px 8%;
  min-height: 180px;
  display: flex;
  flex-direction: column;

  background-color: #ffffff;

  border-radius: 30px 30px 0 0;
}

.main-footer__list {
  display: flex;
  justify-content: center;
  min-width: 135px;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;


  list-style: none;
}

.main-footer__item {
  display: block;
  width: 45px;
  height: 45px;

  background-color: #ffd74b;
  border-radius: 50%;
}

.main-footer__logo {
  display: table;
  margin: 0 auto;
  margin-bottom: 32px;
}

.main-footer__text {
  font-weight: normal;
}

@media (min-width: 768px) {
  .main-footer {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 40px 45px 0 45px;
    width: 768px;
    min-height: 60px;
  }

  .main-footer__list {
    margin-right: 100px;
  }

  .main-footer__item {
    width: 60px;
    height: 60px;
  }

  .main-footer__logo {
    margin: 0;
    margin-right: 100px;
  }
}

@media (min-width: 1439px) {
  .main-footer {
    min-height: 154px;
    width: 1439px;
    margin-top: -58px;
  }
}
