@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav {
  width: auto;
  display: flex;
}

.main-nav__item--catalog-mail {
  display: none;
}

.main-nav__item--catalog-phone {
  display: none;
}

.main-nav__item--catalog-link {
  display: none;
}

.main-nav__list--form {
  display: none;
  margin: 0;
}

@media (min-width: 768px) {
  .main-nav__item--mail {
    display: none;
  }

  .main-nav__list--catalog {
    display: block;
  }

  .main-nav__item--phone {
    display: none;
  }

  .main-nav__item--link {
    position: absolute;
    right: 5.4%;
    top: 5%;

    padding: 11px 29px 8px 27px;

    font-size: 20px;
    line-height: 1.5;
    border-radius: 25px;
  }

  .main-nav__item--form-link {
    top: 41px;
  }

  .main-nav__item--catalog-link {
    display: block;
    top: 41px;
  }

  .main-nav__list--form {
    display: flex;
  }
}

@media (min-width: 1439px) {
  .main-nav {
    left: auto;
    right: 0;
    top: 0;
    bottom: auto;
    padding-right: 4.2%;
    padding-top: 49px;
    position: absolute;
  }

  .main-nav__list--form {
    left: auto;
    right: 0;
    top: 0;
    bottom: auto;

    padding-right: 4.2%;
    padding-top: 49px;
    position: absolute;
  }

  .main-nav__list--catalog {
    position: absolute;
    right: 4.2%;
    bottom: auto;

    display: flex;
  }

  .main-nav__item--mail {
    display: flex;
    width: 50px;
    height: 50px;
  }

  .main-nav__item--phone {
    display: flex;
    width: 50px;
    height: 50px;
  }

  .main-nav__item--link {
    position: static;
  }
}
