.main-nav {
  position: relative;
  display: flex;
}

.main-nav__list {
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav__item {
  display: flex;
}

.main-nav__item--link {
  padding: 7px 44px 3px 44px;

  font-size: 17px;
  line-height: 1.76;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  background-color: #ffd74b;
  border-radius: 20px;
  color: #161c35;
}

.main-nav__item--phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: #ff8d30;
  border-radius: 50%;

  svg {
    width: 18px;
    height: 18px;
  }

  path {
    fill: #161c35;
  }
}

.main-nav__item--mail {
  width: 40px;
  height: 40px;

  background-color: #ffbd30;
  border-radius: 50%;

  svg {
    width: 18px;
    height: 18px;
  }

  path {
    fill: #161c35;
  }
}

.main-nav__item--catalog-mail {
  display: none;
}

.main-nav__item--catalog-phone {
  display: none;
}

.main-nav__item--catalog-link {
  display: none;
}

.main-nav__list--form {
  display: none;
}

@media (min-width: 768px) {
  .main-nav__item--mail {
    display: none;
  }

  .main-nav__item--phone {
    display: none;
  }

  .main-nav__item--link {
    position: absolute;
    right: -688px;
    top: -346px;

    padding: 12px 34px 8px 34px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 25px;
  }

  .main-nav__item--catalog-link {
    display: block;
    top: 0;
  }

  .main-nav__list--form {
    display: flex;
  }

  .main-nav__item--form-link {
    right: -665px;
    top: -172px;
  }
}

@media (min-width: 1439px) {
  .main-nav {
    position: relative;
  }

  .main-nav__list {
    position: absolute;
    left: 1021px;
    bottom: 352px;
  }

  .main-nav__list--form {
    left: auto;
    right: 60px;
    bottom: 254px;
  }

  .main-nav__list--catalog {
    position: absolute;
    left: 1000px;
    bottom: auto;
  }

  .main-nav__item--mail {
    display: block;
    width: 50px;
    height: 50px;
  }

  .main-nav__item--phone {
    display: flex;
    width: 50px;
    height: 50px;
  }

  .main-nav__item--link {
    position: static;
  }
}
