.music__header {
  margin: 0;
  margin-bottom: 8px;
  padding: 12px 0 8px 0;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.13;
  text-transform: uppercase;

  border-top: 1px solid #f3c72b;
  color: #1d2e5b;
}

.music__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  list-style: none;
}

.music__item {
  margin-bottom: 12px;

  font-size: 15px;
  line-height: 1;

  color: #444444;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .music {
    display: flex;
    padding-top: 11px;
  }

  .music__header {
    width: 20.4%;
    border: 0;
    margin: 0;
    padding: 0;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
  }

  .music__list {
    display: flex;
    margin-top: 2px;
    flex-grow: 1;
    flex-direction: row;
  }

  .music__item {
    display: flex;
    font-size: 20px;
    align-items: center;

    input {
      margin: 0;
      margin-right: 11px;
      width: 24px;
      height: 24px;
    }

    &:last-child {
      margin-bottom: auto;
    }
  }

  .music__item--1 {
    width: 34.4%;
  }

  .music__item--2 {
    width: 35%;
  }

  .music__item--3 {
    width: 28%;
    margin-bottom: auto;
  }
}

@media (min-width: 1439px) {
  .music {
    display: block;
  }

  .music__list {
    flex-direction: column;
  }


  .music__item {
    width: auto;
  }
}
