@mixin block-padding-mobile {
  padding: 0 8%;
}

@mixin block-padding-tablet {
  padding-left: 5.3%;
  padding-right: 5.3%;
}

@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes open {
  0% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }

  100% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.page-header {
  min-height: 478px;

  background-color: #161c35;
}

.page-header--form {
  min-height: 143px;
  margin-bottom: -60px;
}

.page-header__scroll-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 478px;
  position: relative;

  @include block-padding-mobile();
  padding-top: 27px;

  color: white;

  background: url("../img/traveller-illustration-mobile@1x.png") no-repeat 62% 223px,
    url("../img/globe-back-mobile@1x.jpg") no-repeat,
    #161c35;

  @media (min-resolution: 1.5dppx) {
    background: url("../img/traveller-illustration-mobile@2x.png") no-repeat 62% 223px,
      url("../img/globe-back-mobile@2x.jpg") no-repeat,
      #161c35;
    background-size: 192px 255px, 320px 569px;
  }
}

.page-header__scroll-wrapper--form {
  z-index: 4;

  min-height: 143px;
  padding: 19px 7.8% 0;

  border-radius: 0 0 20px 20px;
  background: #161c35;
}

.page-header__toggle {
  padding: 0;
  margin: 0;
  margin-top: -3px;
  width: 25px;
  height: 25px;

  border: none;
  background-color: transparent;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 11px;
}

.page-header__list {
  z-index: 12;
  position: absolute;
  bottom: 0;
  left: 50%;

  margin-bottom: -20px;
  margin-left: -135px;

  padding: 0;
  display: flex;
}

.page-header__list--form {
  display: none;
}

.page-header__item-link {
  padding: 6px 40px 3px 39px;
  width: 189px;
  height: 40px;

  font-size: 17px;
  line-height: 1.76;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  background-color: #ffd74b;
  border-radius: 20px;
  color: #161c35;
  cursor: pointer;

  &:hover {
    background-color: #ffbd30;
  }

  &:active {
    span {
      opacity: 0.3;
    }
  }
}

.page-header__item-phone {
  @include centering();
  width: 40px;
  height: 40px;

  background-color: #ff8d30;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #f26926;
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }

  svg {
    width: 18px;
    height: 18px;
  }

  path {
    fill: #161c35;
  }
}

.page-header__item-mail {
  @include centering();
  width: 40px;
  height: 40px;

  background-color: #ffbd30;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #ff8d30;
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }

  svg {
    width: 18px;
    height: 18px;
  }

  path {
    fill: #161c35;
  }
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
}

.page-header__wrapper--form {
  margin-bottom: 50px;
}

.page-header__logo-link {
  margin-right: auto;
  width: 100px;
  height: 19px;
  flex-shrink: 0;

  background-image: url("../img/logo-mobile-white@2x.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.page-header__nav {
  z-index: 12;
  position: relative;

  margin-top: -478px;
  margin-left: -9.5%;
  padding: 28px 9.4% 39px 9.4%;
  width: 119.1%;
  height: 568px;

  font-size: 20px;

  background-color: #ffffff;
}

.page-header__nav--catalog {
  margin-top: -133px;
  margin-bottom: -14px;
}

.page-header__nav-logo {
  margin-right: auto;
}

.page-header__menu-wrapper {
  display: flex;
  margin-bottom: 64px;
}

.page-header__close-menu {
  padding: 0;

  background-color: transparent;
  border: none;

  svg {
    width: 19px;
    height: 19px;
  }
}

.page-header__tel-wrapper {
  display: flex;

  &:hover {
    .page-header__tel,
    .page-header__email {
      color: #ffbd30;
    }

    svg {
      fill: #ffbd30;
    }
  }

  &:active {
    .page-header__tel,
    .page-header__email {
      color: rgba(255, 189, 48, 0.3);
    }

    svg {
      opacity: 0.3;
    }
  }
}

.page-header__icon {
  @include centering();
  width: 45px;
  height: 45px;
  margin-right: 16px;

  background-color: #121936;
  border-radius: 50%;
}

.page-header__email {
  padding: 10px 0;
  margin-bottom: 28px;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  text-transform: uppercase;
  text-decoration: none;

  color: #192144;
}

.page-header__tel {
  padding: 10px 0;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  text-decoration: none;

  color: #192144;
}

.page-header__link {
  display: block;
  padding: 10px 81px 10px 77px;
  margin-bottom: 51px;

  font-size: 17px;
  line-height: 1.76;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  background-color: #ffd74b;
  border-radius: 25px;
  color: #161c35;
}

.page-header__item {
  justify-content: center;
  display: flex;
}

.page-header__item--facebook {
  svg {
    width: 11px;
    height: 21px;
  }
}

.page-header__item--vk {
  svg {
    width: 23px;
    height: 12px;
  }
}

.page-header__item--instagram {
  svg {
    width: 18px;
    height: 18px;
  }
}

.page-header__nav-list {
  width: 100%;
  display: none;
  margin: 0;
  padding: 0;
  margin-bottom: 52px;
  margin-top: 66px;

  list-style: none;
}

.page-header__nav-item {
  text-align: center;
}

.page-header__nav-link {
  color: #192144;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2;
}

.page-header__logo--slogan {
  margin: 0;

  font-size: 20px;
  font-weight: bold;
}

.page-header__slogan {
  width: 240px;
  margin: 0 auto;

  font-size: 36px;
  line-height: 1.11;
  font-weight: bold;
  text-align: center;
}

.page-header__scroll-list {
  display: none;
}

.page-header__scroll-nav-list {
  display: none;
}

.page-header__scroll-item--mail {
  display: none;
}

.page-header__scroll-item--tel {
  display: none;
}

.page-header__contacts-wrapper {
  display: none;
}

.page-header__socials-list {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 82px;

  svg {
    fill: #cccccc;
  }
}

.page-header__modal-close {
  display: none;
}

.page-header__list--close {
  display: none;
}

.page-header__modal-open {
  display: block;
}

.page-header__modal-flex {
  display: flex;
}

.page-header__blue-logo {
  background-image: url("../img/logo-mobile-blue@2x.png");
}

.page-header__toggle--close {
  background-image: url("../img/menu-close.svg");
  background-size: 19px 19px;
}

.page-header__nav-autorization {
  display: none;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  width: 270px;
  height: 50px;
  margin-bottom: 9px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-transform: uppercase;

  border-radius: 25px;
  background-color: #ffd74b;
  color: #161c35;
}

.page-header__nav-autorization--open {
  display: flex;
}

.page-header__scroll--active {
  position: fixed;
  width: 100%;
  z-index: 100;
  min-height: auto;
  height: 73px;
  padding: 27px 8% 0;

  background: #ffffff;
  overflow: hidden;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 0;

  animation-name: open;
  animation-duration: 0.3s;

  .page-header__logo-link {
    background-image: url("../img/logo-mobile-blue@2x.png");
  }

  .page-header__list {
    display: none;
  }

  .page-header__toggle {
    background-image: url("../img/menu-grey.svg");
  }
}

.page-header--menu {
  background: #ffffff;
  min-height: 568px;
  overflow: visible;

  border-radius: 0;

  .page-header__toggle {
    background-image: url("../img/menu-close.svg");
    opacity: 0.5;
  }
}

.page-header--form-menu {
  background: #ffffff;
  min-height: 568px;
  overflow: visible;

  border-radius: 0;

  .page-header__toggle {
    background-image: url("../img/menu-close.svg");
    opacity: 0.5;
  }
}

.page-header__form {
  margin: 0;

  font-size: 36px;
  font-weight: bold;
  line-height: 1.11;
}

.page-header__return-link {
  display: none;
}

@media (min-width: 768px) {
  .page-header__scroll-wrapper {
    min-height: 403px;
    padding-top: 44px;

    @include block-padding-tablet();

    background: none;
    background-color: #192144;
  }

  .page-header__scroll-wrapper--form {
    z-index: 6;
    min-height: 351px;
    border-radius: 0 0 60px 60px;
  }

  .page-header__menu-wrapper {
    margin-bottom: 88px;
  }

  .page-header__tel-wrapper {
    padding-left: 57px;
  }


  .page-header__contacts-wrapper {
    margin-bottom: 106px;
  }

  .page-header__nav-list {
    padding-left: 57px;
    margin-bottom: 64px;
    margin-top: 94px;
  }

  .page-header__nav-item {
    text-align: left;
  }

  .page-header__nav-link {
    font-size: 60px;
    font-weight: 500;
    line-height: 1.18;
  }

  .page-header__slogan {
    width: 400px;
    margin-bottom: 0;

    font-size: 60px;
    font-weight: bold;
    line-height: 1.17;
  }

  .page-header__wrapper {
    margin-bottom: 73px;
  }

  .page-header__wrapper--form {
    margin-bottom: 73px;
  }

  .page-header__nav {
    padding: 58px 5.8% 89px 5.8%;
    width: 111.8%;
    height: 923px;
    margin-left: -5.9%;
    margin-top: -385px;
  }

  .page-header__nav-logo {
    margin-right: 0;
  }

  .page-header__close-menu {
    position: absolute;
    left: 48.8%;
    top: 69px;
  }

  .page-header__nav--catalog {
    margin-top: -285px;
    margin-left: -5.9%;
    margin-bottom: -66px;
  }

  .page-header__item--facebook {
    svg {
      width: 14px;
      height: 28px;
    }
  }

  .page-header__item--vk {
    svg {
      width: 31px;
      height: 16px;
    }
  }

  .page-header__item--instagram {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  .page-header__link-wrapper {
    position: relative;
  }

  .page-header__link {
    position: absolute;
    right: 0;
    bottom: 386px;

    padding: 10px 4.3% 10px 4.2%;

    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
  }

  .page-header__icon {
    width: 67px;
    height: 67px;
    margin-right: 24px;

    svg {
      width: 27px;
      height: 27px;
    }
  }

  .page-header__tel {
    padding-top: 16px;
    font-size: 28px;
  }

  .page-header__email--link {
    padding-top: 16px;
    font-size: 28px;
  }

  .page-header__scroll-menu {
    height: 132px;
    padding: 0 5.3%;

    button {
      position: absolute;
      left: 48%;
    }
  }

  .page-header__scroll-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: auto;

    list-style: none;
  }

  .page-header__scroll-item--autorization {
    padding: 12px 29px 12px 27px;

    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

    background-color: #ffd74b;
    color: #161c35;
    cursor: pointer;
    border-radius: 25px;

    &:hover {
      background-color: #ffbd30;
    }

    &:active {
      span {
        opacity: 0.3;
      }
    }
  }

  .page-header__toggle {
    position: absolute;
    top: 57px;
    left: 48.5vw;
  }

  .page-header__list {
    bottom: auto;
    top: 24px;
    right: 5.2%;
    left: auto;
  }

  .page-header__item-mail {
    display: none;
  }

  .page-header__item-phone {
    display: none;
  }

  .page-header__item-link {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 188px;
    height: 50px;

    font-size: 20px;

    border-radius: 25px;
  }

  .page-header__logo-link {
    width: 166px;
    height: 42px;

    background-image: url("../img/logo-tablet-white@2x.png");
  }

  .page-header {
    min-height: 402px;
  }

  .page-header--form {
    min-height: 351px;
  }

  .page-header__blue-logo {
    background-image: url("../img/logo-tablet-blue@2x.png");
  }

  .page-header__list--close {
    display: flex;
  }

  .page-header__nav-autorization--open {
    display: none;
  }

  .page-header__socials-list {
    justify-content: flex-start;

    li {
      margin-right: 36px;
    }
  }

  .page-header__scroll--active {
    min-height: auto;
    height: 132px;
    border-radius: 0;

    background-color: #ffffff;

    .page-header__list {
      display: flex;
    }

    .page-header__logo-link {
      background-image: url("../img/logo-tablet-blue@2x.png");
    }
  }

  .page-header--menu {
    min-height: 910px;
    overflow: visible;

    background: #ffffff;
    border-radius: 0;
  }

  .page-header--form-menu {
    min-height: 910px;
    overflow: visible;

    background: #ffffff;
    border-radius: 0;
  }

  .page-header__form-wrapper {
    display: flex;
    margin-top: 131px;
  }

  .page-header__form {
    padding-left: 33px;
    margin-right: auto;

    font-size: 60px;
  }

  .page-header__list--form {
    display: flex;
  }

  .page-header__return-link {
    display: block;
    padding-top: 26px;
    margin-right: 34px;

    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;

    span {
      margin-right: 23px;
    }

    &:hover {
      span,
      svg {
        opacity: 0.6;
      }
    }

    &:active {
      span,
      svg {
        opacity: 0.3;
      }
    }
  }

  .page-header__modal-close {
    display: none;
  }
}

@media (min-width: 1439px) {
  .page-header {
    min-height: 415px;
  }

  .page-header--form {
    min-height: 351px;
    border-radius: 0 0 60px 60px;
  }

  .page-header__scroll-wrapper {
    padding: 0;
    padding-top: 47px;

    background-color: #161c35;

    .container {
      position: relative;

      display: flex;
      flex-direction: column;
    }
  }

  .page-header__scroll-wrapper--form {
    padding: 45px 0 0;
  }

  .page-header--menu {
    background: #161c35;
    min-height: 416px;
    overflow: hidden;

    border-radius: 0 0 60px 60px;
  }

  .page-header--form-menu {
    background: #161c35;
    min-height: 351px;
    overflow: hidden;

    border-radius: 0 0 60px 60px;
  }

  .page-header__wrapper {
    margin-bottom: 106px;
  }

  .page-header__wrapper--form {
    margin-bottom: 117px;
  }

  .page-header__slogan {
    z-index: 12;

    text-align: left;
    width: 36%;
    margin-left: 0;
    padding-left: 5.1%;

    line-height: 1.17;
    font-weight: bold;
  }

  .page-header__nav {
    position: absolute;
    left: 27.9%;
    top: 60px;

    display: block;
    padding: 0;
    margin: 0;
    width: 29.4%;
    height: auto;

    background-color: transparent;
  }

  .page-header__contacts-wrapper {
    margin: 0;
  }

  .page-header__nav-item {
    overflow: hidden;
    flex-grow: 1;
  }

  .page-header__nav-list {
    position: absolute;
    z-index: 12;
    top: 13px;
    left: 27.9%;

    display: flex;
    width: 29.4%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    &::before {
      content: "";
      position: absolute;

      left: -100px;
      top: 14px;

      width: 60px;
      height: 2px;

      background-color: #ffffff;
    }
  }

  .page-header__menu-wrapper {
    display: none;
  }

  .page-header__link {
    display: none;
  }

  .page-header__tel-wrapper {
    display: none;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__scroll-menu {
    height: 90px;
    padding: 2px 4.2% 2px 4.2%;
  }

  .page-header__scroll-item--tel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    background-color: #ff8d30;
    border-radius: 50%;

    &:hover {
      background-color: #f26926;
    }

    &:active {
      svg {
        opacity: 0.3;
      }
    }
  }

  .page-header__scroll-item--mail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    background-color: #ffbd30;
    border-radius: 50%;

    &:hover {
      background-color: #ff8d30;
    }

    &:active {
      svg {
        opacity: 0.3;
      }
    }
  }

  .page-header__scroll-nav-list {
    position: absolute;
    left: 27.8%;
    top: 11px;

    display: flex;
    padding: 0;
    justify-content: space-between;
    width: 29.4%;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    list-style: none;

    a {
      color: #192144;
    }

    &::before {
      content: "";
      position: absolute;

      left: -86px;
      top: 14px;

      width: 45px;
      height: 2px;

      background-color: #192144;
    }
  }

  .page-header__scroll-nav-item {
    flex-grow: 1;

    a {
      text-align: left;
      padding: 0 4px;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  .page-header__nav-link {
    padding: 0 4px;
    height: 1em;

    font-size: 20px;
    line-height: 1.5;

    color: #ffffff;

    &:hover {
      span {
        transform: translateY(-100%);
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-header__nav-span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;

    &::before {
      position: absolute;
      top: 100%;

      content: attr(data-hover);
      transform: translate3d(0, 0, 0);

      color: #ffd74b;
    }
  }

  .page-header__logo-link {
    width: 201px;
    height: 53px;
    background-image: url("../img/logo-desktop-white@2x.png");
  }

  .page-header__list {
    top: -14px;
    right: 60px;

    display: flex;

    .page-header__item-phone,
    .page-header__item-mail {
      display: flex;
      width: 50px;
      height: 50px;
    }
  }

  .page-header__scroll--active {
    height: 91px;
    padding: 0;
    padding-top: 20px;

    background-color: #ffffff;
    border-radius: 0;

    .page-header__nav-link {
      color: #192144;
    }

    .page-header__nav-list {
      left: 27.8%;
      top: 11px;

      &::before {
        left: -86px;

        width: 45px;

        background-color: #192144;
      }
    }

    .page-header__list {
      top: -16px;
      right: 4.3%;
    }
  }

  .page-header__form {
    padding-left: 66px;
  }

  .page-header__return-link {
    margin-right: 62px;
  }

  .page-header__modal-close {
    display: block;
  }

  .page-header__modal-flex {
    display: none;
  }

  .page-header__form-wrapper {
    margin-top: 0;
  }
}
