.page-header {
  padding-left: 25px;
  padding-top: 27px;
  padding-right: 25px;
  min-height: 478px;
  display: flex;
  flex-direction: column;

  background: url("../../img/traveller-illustration-mobile@1x.png") no-repeat 79px 223px,
    url("../../img/globe-back-mobile@1x.jpg") no-repeat,
    #161c35;
  color: white;
}

.page-header__toggle {
  margin-left: auto;
  border: none;
  background-color: transparent;

  svg {
    width: 25px;
    height: 11px;
    fill: #ffffff;
  }
}

.page-header__wrapper {
  display: flex;
  margin-bottom: 45px;
}

.page-header__nav {
  position: relative;
  margin-top: -460px;
  margin-left: -25px;
  padding: 27px 25px 40px 25px;

  width: 320px;
  height: 568px;

  font-size: 20px;

  background-color: #ffffff;
}

.page-header__nav--catalog {
  margin-top: -133px;
  margin-bottom: -13px;
  margin-left: -25px;
}

.page-header__nav-logo {
  margin-right: 140px;
}

.page-header__menu-wrapper {
  display: flex;
  margin-bottom: 62px;
}

.page-header__close-menu {
  background-color: transparent;
  border: none;

  svg {
    width: 19px;
    height: 19px;
  }
}

.page-header__tel-wrapper {
  display: flex;
}

.page-header__icon {
  display: block;
  width: 45px;
  height: 45px;
  margin-right: 16px;

  background-color: #121936;
  border-radius: 50%;
}

.page-header__email {
  padding: 10px 0;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  color: #192144;
  text-transform: uppercase;
  text-decoration: none;
}

.page-header__tel {
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  color: #192144;
  text-decoration: none;
}

.page-header__link {
  display: block;
  padding: 10px 81px 10px 77px;
  margin-bottom: 51px;
  font-size: 17px;
  line-height: 1.76;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #ffd74b;
  border-radius: 25px;
  color: #161c35;
}

.page-header__list {
  display: flex;
  padding: 0 52px 0 60px;
  justify-content: space-evenly;

  list-style: none;
}

.page-header__item {
  justify-content: center;
}

.page-header__item--facebook {
  svg {
    width: 11px;
    height: 21px;
    opacity: 0.2;
  }
}

.page-header__item--vk {
  svg {
    width: 23px;
    height: 12px;
    opacity: 0.2;
  }
}

.page-header__item--instagram {
  svg {
    width: 18px;
    height: 18px;
    opacity: 0.2;
  }
}

.page-header__nav-list {
  list-style: none;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.page-header__nav-item {
  text-align: center;

  a {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    color: #192144;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.page-header__logo--slogan {
  margin: 0;

  font-size: 20px;
  font-weight: bold;
}

.page-header__slogan {
  width: 240px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 245px;

  font-size: 36px;
  line-height: 1.11;
  font-weight: bold;
  text-align: center;
}

//планшет
@media (min-width: 768px) {
  .page-header {
    min-height: 403px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    background: none;
    background-color: #192144;
  }

  .page-header__toggle {
    margin-left: 146px;
  }

  .page-header__menu-wrapper {
    margin-bottom: 116px;
  }

  .page-header__tel-wrapper {
    padding-left: 57px;
  }

  .page-header__contacts-wrapper {
    margin-bottom: 108px;
  }

  .page-header__nav-list {
    padding-left: 57px;
    margin-bottom: 132px;
  }

  .page-header__nav-item {
    text-align: left;

    a {
      font-size: 60px;
      font-weight: 500;
      line-height: 1.18;
    }
  }

  .page-header__slogan {
    font-size: 60px;
    font-weight: bold;
    width: 400px;
    margin-bottom: 0;
  }

  .page-header__wrapper {
    margin-bottom: 100px;
  }

  .page-header__nav {
    padding: 40px 40px 90px 40px;
    width: 768px;
    height: 910px;
    margin-left: -40px;
    margin-top: -385px;
  }

  .page-header__nav--catalog {
    margin-top: -251px;
    margin-left: -25px;
  }

  .page-header__list {
    width: 101px;
    align-items: center;
    padding-left: 170px;

    li {
      margin-right: 34px;
    }
  }

  .page-header__item--facebook {
    svg {
      width: 14px;
      height: 28px;
    }
  }

  .page-header__item--vk {
    svg {
      width: 31px;
      height: 16px;
    }
  }

  .page-header__item--instagram {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  .page-header__link-wrapper {
    position: relative;
  }

  .page-header__link {
    position: absolute;
    right: 0;
    bottom: 400px;

    padding: 12px 31px 8px 29px;

    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
  }

  .page-header__icon {
    width: 67px;
    height: 67px;
    margin-right: 23px;
  }

  .page-header__tel {
    padding-top: 18px;
    font-size: 28px;
  }

  .registration__email--link {
    padding-top: 18px;
    font-size: 28px;
  }
}

@media (min-width: 1439px) {
  .page-header {
    padding: 47px 60px;
    background-color: #161c35;
  }

  .page-header__wrapper {
    margin-bottom: 145px;
  }

  .page-header__slogan {
    z-index: 1;
    text-align: left;
    width: 430px;
    margin-left: 88px;
    line-height: 1.17;
    font-weight: bold;
  }

  .page-header__nav {
    padding: 0;
    margin-top: -395px;
    margin-left: 335px;
    width: 443px;
    height: 20px;
    background-color: transparent;
  }

  .page-header__nav--catalog {
    position: relative;
    height: 0;
    margin-top: 0;
    margin-left: 0;
  }

  .page-header__nav-item {
    a {
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.5;
    }
  }

  .page-header__nav-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0;
  }

  .page-header__nav-list--catalog {
    position: absolute;
    width: 550px;
    height: 30px;
    flex-wrap: wrap;
    left: 290px;
    bottom: 305px;
  }

  .page-header__menu-wrapper {
    display: none;
  }

  .page-header__link {
    display: none;
  }

  .page-header__tel-wrapper {
    display: none;
  }

  .page-header__list {
    display: none;
  }

  .page-header__toggle {
    display: none;
  }
}
