.plan {
  margin-top: -25px;
  padding: 27px 7.8% 39px 7.8%;

  background-color: hsl(226, 36%, 91%);
  border-radius: 30px 30px 0 0;
}

.plan__header {
  margin: 0;
  margin-bottom: 31px;

  font-size: 24px;
  font-weight: bold;
  line-height: 1;

  color: #1d2e5b;
}

.dates-stay__list-wrapper {
  display: none;
}

.plan__list {
  padding: 0;

  list-style: none;
}

.plan__item {
  padding: 21px 8.5% 21px 8.5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  background-color: #ffffff;
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.plan__item-number {
  margin: 0;
  margin-right: 2px;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;

  color: #1d2e5b;
}

.plan__h3 {
  margin: 0;

  font-size: 16px;
  font-weight: bold;
  line-height: 1;

  color: #1d2e5b;
}

.plan__text {
  margin: 0;
  margin-bottom: 2px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  color: #1d2e5b;
}

.plan__time {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  color: #1d2e5b;
}

.plan__time-wrapper {
  margin-bottom: 19px;
}

.plan__button {
  padding-left: 1px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-align: left;
  text-transform: uppercase;

  opacity: 0.3;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.plan__item-header-wrapper {
  display: flex;
  margin-bottom: 19px;

  align-items: center;
}

.plan__item-wrapper {
  padding-left: 1px;
}

@media (min-width: 768px) {
  .plan {
    padding: 0 9.7%;
    padding-top: 47px;
    padding-bottom: 83px;
  }

  .plan__header {
    margin-bottom: 44px;

    font-size: 36px;
    font-weight: bold;
    line-height: 1.39;
  }

  .plan__item {
    width: auto;
    padding: 39px 4.4% 15px 5.9%;
  }

  .plan__item-wrapper {
    width: 111.6%;
    margin-left: -6.6%;
    padding-top: 19px;
    padding-left: 6%;
    padding-right: 5%;
    display: flex;

    border-top: 1px solid #dfe3f0;
  }

  .plan__button {
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .plan__text {
    width: 33.3%;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .plan__time {
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .plan__time-wrapper {
    margin-bottom: 0;
    margin-right: auto;

    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .plan__h3 {

    font-size: 24px;
    font-weight: bold;
  }

  .plan__item-number {
    order: 1;
    margin-left: auto;

    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .plan__item-header-wrapper {
    margin-bottom: 34px;
  }
}

@media (min-width: 1439px) {
  .plan {
    padding: 46px 4% 132px 8.6%;
    border-radius: 60px 60px 0 0;
    margin-bottom: -60px;
  }

  .plan__header {
    padding-left: 7px;
  }

  .plan__item {
    padding: 3px 2.6% 4px 3.4%;
    margin-bottom: 15px;
    min-height: 97px;
    display: flex;
    align-items: center;
  }

  .plan__item-header-wrapper {
    display: flex;
    width: 49.5%;
    margin-bottom: 0;
    align-items: baseline;
  }

  .plan__item-number {
    order: 0;
    margin: 0;
    margin-right: 5.5%;

    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    text-align: left;

    color: #1d2e5b;
  }

  .plan__h3 {
    margin: 0;
  }

  .plan__item-wrapper {
    width: 50.4%;
    margin: 0;
    padding: 0;
    border: 0;
    justify-content: start;
  }

  .plan__text {
    width: 29.4%;
  }

  .plan__button {
    margin-left: auto;
  }
}
