@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin block-padding-tablet {
  padding-left: 5.2%;
  padding-right: 5.2%;
}

.profile {
  z-index: 7;

  display: flex;
  flex-direction: column;
  min-height: 369px;
  padding: 60px 8% 39px 15.3%;
  margin-bottom: -25px;

  background-color: #edeff6;
  border-radius: 0 0 30px 30px;

  .container {
    display: flex;
    flex-direction: column;
  }
}

.profile__header-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 25px;
}

.profile__header {
  margin: 0;
  margin-top: 15px;
  padding-right: 60%;

  font-size: 24px;
  line-height: 1;

  color: #ff8d30;
}

.profile__list {
  padding: 0;
  margin-bottom: 30px;

  list-style: none;
}

.profile__item {
  display: flex;
  align-items: baseline;
  padding-top: 4px;
  padding-bottom: 11px;
  min-height: 35px;

  font-size: 16px;
  line-height: 1.38;

  color: #444444;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.05);

  &:last-child {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);
  }
}

.profile__item-wrapper {
  margin-right: auto;
}

.profile__item-number {
  @include centering();
  margin: 0;
  width: 34px;
  height: 34px;

  color: #ffffff;
  border-radius: 50%;
}

.profile__item-number--1 {
  background-color: #ffa530;
}

.profile__item-number--2 {
  background-color: #ffbd30;
}

.profile__item-number--3 {
  background-color: #ffd74b;
}

.profile__item-desc {
  margin: 0;
}

.profile__item-price {
  margin: 0;
}

.profile__button {
  font-size: 16px;
  line-height: 1;
  font-weight: bold;

  cursor: pointer;

  color: #192144;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.profile__button-img {
  display: none;
}

.profile__img {
  margin-top: -86px;
  margin-left: auto;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .profile {
    @include block-padding-tablet();
    padding-top: 130px;
    padding-bottom: 33px;

    margin-bottom: -60px;

    border-radius: 0 0 60px 60px;
  }

  .profile__header {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 59px;
    text-align: center;

    font-size: 45px;
    line-height: 1;
  }

  .profile__list {
    position: relative;
    width: 95%;
    margin-bottom: 32px;

    &::after {
      content: "";
      position: absolute;
      right: -34px;
      top: -41px;
      z-index: -1;

      width: 198px;
      height: 285px;

      background-color: #e2e5f2;
      border-radius: 20px;
    }
  }

  .profile__item {
    display: flex;
    padding: 0;
    align-items: center;
    border: 0;

    &:last-child {
      border: 0;

      .profile__item-wrapper {
        min-height: 67px;
        padding-bottom: 4px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);
      }
    }
  }

  .profile__item-wrapper {
    min-height: 65px;
    width: 100%;
    display: flex;
    align-items: center;

    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }


  .profile__item-number {
    order: -1;

    margin-right: 23px;
    width: 77px;
    height: 67px;

    align-self: stretch;
    font-size: 28px;
  }

  .profile__item-desc {
    width: 70%;
    display: block;

    font-size: 28px;
  }

  .profile__item-price {
    display: block;
    margin-left: auto;

    font-size: 28px;
  }

  .profile__button {
    width: 60%;
    display: flex;
    align-items: center;

    font-size: 20px;
  }

  .profile__button-img {
    width: 67px;
    height: 67px;
    margin-right: 21px;

    @include centering();

    border-radius: 50%;
    background-color: #e2e5f2;
  }

  .profile__img {
    order: 1;

    margin-top: -82px;
    margin-left: auto;
    margin-right: 45px;
  }
}

@media (min-width: 1439px) {
  .profile {
    padding: 0;

    .container {
      padding-top: 163px;
      padding-bottom: 165px;
      padding-left: 132px;
      padding-right: 132px;
      display: flex;
      flex-direction: column;
    }
  }

  .profile__header {
    padding: 0;
    margin-bottom: 121px;
  }

  .profile__item-desc {
    margin-right: auto;
    margin-bottom: 7px;
  }

  .profile__list {
    width: 76.9%;

    &::after {
      right: -160px;
      top: -51px;
      width: 444px;
      height: 300px;
    }
  }

  .profile__item {
    font-weight: 300;
  }

  .profile__item-number {
    flex-shrink: 0;
    width: 67px;
    height: 67px;
  }

  .profile__img {
    width: 198px;
    height: 198px;
    margin-top: -298px;
    margin-bottom: 100px;
    margin-right: 0;
  }

  .profile__item-price {
    padding-bottom: 4px;
  }
}
