.route {
  padding: 25px 9% 17px 9%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  background-color: #ffffff;
  border-radius: 10px;
}

.route__intro {
  margin: 0;

  font-size: 20px;
  font-weight: bold;
  line-height: 1;

  color: #1d2e5b;
}

.route__header {
  margin: 0;

  font-size: 20px;
  font-weight: bold;
  line-height: 1;

  color: #1d2e5b;
}

.route__text {
  margin-bottom: 22px;

  font-size: 16px;
  line-height: 1.38;

  color: #444444;
}

.route__country-wrapper {
  position: relative;

  display: flex;
  margin-bottom: 22px;
}

.route__country {
  padding: 13px 0 13px 4.7%;
  flex-grow: 1;
  height: 42px;

  border: solid 1px #cbced9;
  border-radius: 4px;

  p {
    margin: 0;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    white-space: nowrap;

    color: #1d2e5b;
  }
}

.route__flag {
  z-index: 1;

  padding: 9px;
  width: 54px;
  height: 42px;
  margin-left: -1px;

  border: solid 1px #cbced9;
  background-color: #ffffff;
  border-radius: 4px;
}

.route__choose {
  position: relative;
  margin-bottom: 22px;
  padding: 13px 0 13px 4.7%;
  height: 42px;

  border: solid 1px #cbced9;
  border-radius: 4px;

  a {
    margin: 0;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    color: #1d2e5b;

  }
}

.route__add {
  margin-bottom: 25px;
  padding: 13px 0 13px 4.7%;
  height: 42px;

  border: solid 1px #cbced9;
  border-radius: 4px;
  background-color: #edeff6;

  p {
    margin: 0;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    color: #1d2e5b;

  }
}

.route__button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 0;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-transform: uppercase;

  color: #161c35;
  background-color: #ffd74b;
  border: 0;
  border-radius: 20px;
}

.route__button-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 0;

  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;

  color: #161c35;
  background-color: transparent;
  border: 0;
}

.route__table-wrapper {
  position: absolute;
  top: 40px;

  display: none;
  width: 100.8%;
  margin-left: -5.1%;

  box-shadow: 0px 20px 50px 0 rgba(29, 46, 91, 0.1);
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}

.route__table {
  border-collapse: collapse;
  width: 100.4%;
}

.route__td {
    width: 45px;
    height: 42px;
    border: solid 1px #cbced9;
    text-align: center;
}

.route__choose-list {
  padding: 60px 8% 20px 8%;
  margin: 0;
  list-style: none;
  border: solid 1px #cbced9;
  border-top: 0;
  border-radius: 0 0 10px 10px;
}

.route__choose-item {
  font-size: 16px;
  line-height: 1.38;
  color: #444444;
}

.route__link-wrapper {
  display: flex;
}

@media (min-width: 768px) {
  .route {
    padding: 48px 7.3% 42px 7%;
    width: auto;
    margin-bottom: 51px;
  }

  .route__step-wrapper {
    margin-bottom: 34px;
  }

  .route__intro {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
  }

  .route__header {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
  }

  .route__text {
    margin-bottom: 34px;

    font-size: 20px;
    line-height: 1.2;
  }

  .route__country-wrapper--top {
    padding-top: 40px;
    margin-bottom: 15px;

    border-top: solid 1px #cbced9;
  }

  .route__country-wrapper {
    margin-bottom: 15px;
  }

  .route__country {
    padding: 27px 24px;
    margin-right: 54px;
    height: 70px;

    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 0.9;
      letter-spacing: 2px;
    }
  }

  .route__flag {
    width: 70px;
    height: 43px;
    border: 0;
  }

  .route__choose {
    padding: 27px 24px;
    margin-right: 54px;
    margin-bottom: 14px;
    height: 70px;

    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 0.9;
      letter-spacing: 2px;
    }
  }

  .route__add {
    padding: 27px 24px;
    margin-right: 54px;
    margin-bottom: 49px;
    height: 70px;

    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 0.9;
      letter-spacing: 2px;
    }
  }

  .route__button-wrapper {
    display: flex;
  }

  .route__button-next {
    padding: 30px 78px 28px 34px;

    text-transform: none;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
  }

  .route__button-back {
    text-transform: none;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
  }
}

@media (min-width: 1439px) {
  .route {
    padding: 100px 12.1%;
    margin-bottom: 46px;
  }

  .route__text {
    margin-bottom: 99px;
  }

  .route__country {
    width: 730px;
  }

  .route__choose {
    width: 730px;
  }

  .route__add {
    width: 730px;
  }

  .route__button-next {
    margin-right: 367px;
  }

  .route__step-wrapper {
    display: flex;
  }
}
