.tariffs-popup {
  position: fixed;
  z-index: 20;
  left: 7.6%;
  top: 23%;

  display: none;
  padding: 33px 8% 0 8%;
  width: 84.3%;

  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
}

.tariffs-popup__list {
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;

  list-style: none;
}

.tariffs-popup__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 66px;

  border-top: 1px solid rgba($color: #000000, $alpha: 0.1);

  &:last-child {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
}

.tariffs-popup__header {
  margin: 0;
  margin-bottom: 30px;

  text-align: center;
  font-size: 24px;
  font-weight: bold;

  color: #ff8d30;
}

.tariffs-popup__text {
  margin: 0;

  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;

  color: #444444;
}

.tariffs-popup__close {
  width: 123.7%;
  min-height: 60px;
  margin-left: -12%;

  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  border: 0;
  border-radius: 0 0 20px 20px;
  background-color: #f3f4f8;
  color: #192144;
  cursor: pointer;

  &:hover {
    background-color: #edeff6;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }
}

@media (min-width: 768px) {
  .tariffs-popup {
    left: 5.4%;
    width: 89.2%;

    border-radius: 30px;
  }

  .tariffs-popup__text {
    font-size: 22px;
  }

  .tariffs-popup__header {
    font-size: 45px;
    margin-bottom: 47px;
  }

  .tariffs-popup__close {
    width: 121.9%;
    min-height: 108px;
    margin-left: -10.9%;

    font-size: 24px;

    border-radius: 0 0 30px 30px;
  }

  .tariffs-popup__list {
    margin-bottom: 51px;
  }

  .tariffs-popup__item {
    min-height: 55px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .tariffs-popup__text--1 {
    margin-right: auto;
  }
}

@media (min-width: 1439px) {
  .tariffs-popup {
    left: 24.4%;
    width: 51.8%;
  }

  .tariffs-popup__close {
    width: 143.9%;
    margin-left: -21.8%;
  }
}
