.travel-companions {
  background-color: #edeff6;
}

.travel-companions__card {
  background-color: white;
  border-radius: 30px;
}

.travel-companions__header {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: #1d2e5b;
}

.travel-companions__likes {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  color: #161c35;
}

.travel-companions__tag {
  font-size: 15px;
  line-height: 1.2;
  color: #444444;
}

.travel-companions__legend {
  font-size: 15px;
  line-height: 1.2;
  color: #444444;
}

.travel-companions__location {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
}

.travel-companions__level {
  font-size: 15px;
  line-height: 1.2;
  color: #444444;
}

.travel-companions__button-show {
  font-size: 17px;
  font-weight: bold;
  color: #1d2e5b;
  line-height: 1.76;
  background-color: transparent;
}
